<div class="container-fluid" style="margin-top:68px">
  <div class="texto">
    <h3><i class="fa fa-building" aria-hidden="true" ></i>&nbsp; Agregar Ciudad</h3>
  </div>
  <div class="row">
    <div class="col-md-4">
      <main class="mt-2">
          <form #ciudadFrom="ngForm">
            <input type="hidden" name="_id" [(ngModel)]="ciudadServices.selectedCiudad._id">
            <div class="form-group">
              <label for="nombreCiudad">Ciudad:</label>
              <input class="form-control" type="text" name="nombreCiudad" #nombreCiudad="ngModel" [(ngModel)]="ciudadServices.selectedCiudad.nombreCiudad" placeholder="Ciudad" required>
            </div>
            <div class="form-group">
              <label for="division">División:</label>
              <select class="form-control" name="division" #division="ngModel" [(ngModel)]="ciudadServices.selectedCiudad.division" required>
                <option value="" selected>Selecciona una división</option>
                <option *ngFor="let dato of datos2" value="{{dato.nombreDivision}}">{{dato.nombreDivision}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="observacionCiudad">Observación:</label>
              <textarea name="observacionCiudad" class="form-control" #observacionCiudad="ngModel" [(ngModel)]="ciudadServices.selectedCiudad.observacionCiudad" placeholder="Observación"></textarea>
            </div>
            <button class="btn btn-primary mr-2" [disabled]="!ciudadFrom.valid" (click)="addCiudad(ciudadFrom)"><i class="fas fa-check"></i> Agregar</button>
            <button class="btn btn-danger" [disabled]="!ciudadFrom.valid" (click)="resetForm(ciudadFrom)"><i class="far fa-times-circle"></i> Cancelar</button>
          </form>
        </main>
    </div>
    <div class="col-md-8 mt-2">
      <section>
      <table class="table table-striped table-bordered mt-2">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Ciudad</th>
            <th scope="col">División</th>
            <th scope="col">Observación</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dato of datos let i = index">
            <td>{{i+1}}</td>
            <td>{{dato.nombreCiudad}}</td>
            <td>{{dato.division}}</td>
            <td>{{dato.observacionCiudad}}</td>
            <td>
              <button class="btn btn-primary btn-sm mr-2" (click)="updateCiudad(dato)"><i class="fas fa-pencil-alt"></i></button><button class="btn btn-danger btn-sm" (click)="deleteCiudad(dato._id)"><i class="far fa-trash-alt"></i></button>
            </td>

          </tr>
        </tbody>
      </table>
    </section>
    </div>
  </div>
</div>