.card{
    width: 70%;
    margin: 0 auto;
    margin-top: 120px;
}

.textos{
    margin: 0 auto;
    text-align: center;
    margin-top: 200px;

}

input{
    outline: none;
    border: 0;
    border-radius: 3px;
    font-size: 18px;
    margin-bottom: 30px;

}

.form-group{
    margin-top: 40px;
}

.btn{
    margin-bottom: 40px;
    font-size: 18px;
}

.logo{
    width: 60%;
}