.texto{
    color:white;
    background-color:transparent;
    padding: 5px;
    border-radius: 3px;
    border: solid 1px #525965;
}

input, input:focus, textarea, textarea:focus{
    background-color:transparent;
    border: solid 1px white;;
   /* border-bottom: solid 1px white; */
    color: #d6964c;
    font-size: 14px;
    margin: 0;
}