.texto{
    color:white;
    background-color:transparent;
    padding: 5px;
    border-radius: 3px;
    border: solid 1px #525965;
}

input, input:focus, textarea, textarea:focus{
    background-color:transparent;
    border: solid 1px white;;
   /* border-bottom: solid 1px white; */
    color: #d6964c;
    font-size: 14px;
    margin: 0;
}


table td:nth-child(12){
    width: 8%;
}

table td:nth-child(11){
    width: 15%;
}

table{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}