
<div class="row">
  
  <div  class="col-md-2">
    <aside>

    <div class="contenedor-menu">

      <a href="#" class="btn-menu">Menu <i class=" icono fas fa-bars"></i></a>
     
      <ul class="menu">
        <li><a routerLink="/"><i class="icono izquierda fas fa-home"></i>Inicio</a></li>
        <li class=""><a ><i class="icono izquierda fas fa-star"></i>Proyectos<i class="icono derecha fas fa-chevron-down"></i></a>
         <ul>
           <li><a routerLink="/proyectos">Nuevo Proyecto </a></li>
           <li><a routerLink="/listaproyectos">Lista Proyectos</a></li>

         </ul>
       </li>
        <li class=""><a ><i class="icono izquierda fas fa-cogs"></i>Catalogos<i class="icono derecha fas fa-chevron-down"></i></a>
         <ul>
           <li><a routerLink="/division">División</a></li>
           <li><a routerLink="/ciudad">Ciudad</a></li>
           <li><a routerLink="/productos">Productos</a></li>
           <li><a routerLink="/cat-documentos">Documentos</a></li>
         </ul></li>
        <li><a ><i class="icono izquierda fas fa-envelope"></i>Empleados<i class="icono derecha fas fa-chevron-down"></i></a>
          <ul>
            <li><a routerLink="/empleados">Nuevo Empleado</a></li>
            <li><a routerLink="/categoriaEmpleados">Nueva Cat. Empleado</a></li>
            <li><a routerLink="/listaEmpleados">Lista de Empleados</a></li>
          </ul>
        </li>
        <li><a ><i class="icono izquierda fas fa-envelope"></i>Inventario</a></li>
        <li><a ><i class="icono izquierda fas fa-envelope"></i>Usuarios<i class="icono derecha fas fa-chevron-down"></i></a>
          <ul>
            <li><a routerLink="/usuarios">Nuevo Usuario</a></li>
           
          </ul></li>
        <li><a ><i class="icono izquierda fas fa-envelope"></i>Configuración</a></li>
      </ul>

     </div>
    </aside>
  </div>

</div>